In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. How many men and women (attribute *sex*) are represented in this data set?**

In [ ]:
data['sex'].value_counts()["Male"]

21790

In [ ]:
data['sex'].value_counts()["Female"]

10771

**2. What is the average age (*age*) of women?**

In [ ]:
data[data['sex']=="Female"].mean(numeric_only=True)['age']

36.85823043357163

**3. What is the proportion of German citizens (attribute *native-country*)?**

In [ ]:
print(f'{data["native-country"].value_counts()["Germany"]/len(data.axes[0])*100}%')

0.42074874850281013%

**4-5. What are the averages and standard deviations of the ages of those earning more than 50K per year (salary) and those earning less than 50K per year? **

In [ ]:
data[data["salary"]==">50K"].mean(numeric_only=True)["age"]

44.24984058155847

In [ ]:
data[data["salary"]==">50K"].std(numeric_only=True)["age"]

10.519027719851826

In [ ]:
data[data["salary"]=="<=50K"].mean(numeric_only=True)["age"]

36.78373786407767

In [ ]:
data[data["salary"]=="<=50K"].std(numeric_only=True)["age"]

14.02008849082488

6. Is it true that people who earn more than 50k have at least a college degree? (attribute education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate)

In [ ]:
data["education"].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school',
       '5th-6th', '10th', '1st-4th', 'Preschool', '12th'], dtype=object)

In [ ]:
data.loc[(data["salary"]==">50K") & ((data["education"]!="Bachelors") & (data["education"]!="Prof-school") & (data["education"]!="Assoc-acdm") & (data["education"]!="Assoc-voc") & (data["education"]!="Masters") & (data["education"]!="Doctorate"))].shape[0]==0

False

**7. Print age statistics for each race (the *race* feature) and each gender. Use *groupby* and *describe*. Find in this way the maximum age of men of the race *Amer-Indian-Eskimo*.**

In [ ]:
data.groupby(["race", "age"]).describe()

                       fnlwgt                                          \
                        count           mean            std       min
race               age
Amer-Indian-Eskimo 17     3.0   85667.333333   52726.233000   27415.0
                   18     4.0  147675.500000  124316.647074   40829.0
                   19     6.0   82268.333333   87982.956676   29083.0
                   20     3.0   66616.666667   61632.489730   27337.0
                   21     6.0  181713.000000   91018.186890   75763.0
...                       ...            ...            ...       ...
White              85     3.0  126667.333333   35100.616410   98611.0
                   86     1.0  149912.000000            NaN  149912.0
                   87     1.0   90338.000000            NaN   90338.0
                   88     3.0  153975.666667   74610.122754   68539.0
                   90    34.0  175389.970588   92386.046987   39824.0

                                                                education-num  \
                              25%       50%       75%       max         count
race               age
Amer-Indian-Eskimo 17    63438.50   99462.0  114793.5  130125.0           3.0
                   18    50039.00  124003.0  221639.5  301867.0           4.0
                   19    30048.50   32143.5  103247.5  243941.0           6.0
                   20    31099.50   34862.0   86256.5  137651.0           3.0
                   21   103932.75  190530.5  238196.5  304302.0           6.0
...                           ...       ...       ...       ...           ...
White              85   106987.50  115364.0  140695.5  166027.0           3.0
                   86   149912.00  149912.0  149912.0  149912.0           1.0
                   87    90338.00   90338.0   90338.0   90338.0           1.0
                   88   127818.00  187097.0  196694.0  206291.0           3.0
                   90    87776.75  173700.0  245073.0  313986.0          34.0

                                   ... capital-loss         hours-per-week  \
                             mean  ...          75%     max          count
race               age             ...
Amer-Indian-Eskimo 17    6.666667  ...          0.0     0.0            3.0
                   18    8.000000  ...          0.0     0.0            4.0
                   19    8.333333  ...          0.0  1721.0            6.0
                   20    9.666667  ...          0.0     0.0            3.0
                   21    9.166667  ...          0.0     0.0            6.0
...                           ...  ...          ...     ...            ...
White              85   10.333333  ...          0.0     0.0            3.0
                   86   14.000000  ...          0.0     0.0            1.0
                   87    9.000000  ...          0.0     0.0            1.0
                   88   13.333333  ...          0.0     0.0            3.0
                   90    9.852941  ...          0.0  4356.0           34.0


                             mean        std   min    25%   50%    75%   max
race               age
Amer-Indian-Eskimo 17   20.000000   0.000000  20.0  20.00  20.0  20.00  20.0
                   18   26.250000   9.464847  20.0  20.00  22.5  28.75  40.0
                   19   27.500000  10.368221  15.0  21.25  25.0  36.25  40.0
                   20   53.333333  16.653328  40.0  44.00  48.0  60.00  72.0
                   21   34.666667  15.266521   4.0  38.50  40.0  40.00  46.0
...                           ...        ...   ...    ...   ...    ...   ...
White              85   29.333333  24.006943   3.0  19.00  35.0  42.50  50.0
                   86   40.000000        NaN  40.0  40.00  40.0  40.00  40.0
                   87    2.000000        NaN   2.0   2.00   2.0   2.00   2.0
                   88   40.000000   0.000000  40.0  40.00  40.0  40.00  40.0
                   90   37.529412  18.470673   4.0  26.25  40.0  40.00  99.0

[297 rows x 40 columns]

In [ ]:
int(data.loc[data["race"]=="Amer-Indian-Eskimo"].groupby(["age"]).sum(numeric_only=True).reset_index().sort_values(by='age', ascending=True).tail(1)["age"])

82

**8. Among whom is the greater share of those earning a lot (>50K): among married or single men (attribute *marital-status*)? We consider those whose *marital-status* begins with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse) to be married; the rest are considered single.**

In [ ]:
data["marital-status"].unique()

array(['Never-married', 'Married-civ-spouse', 'Divorced',
       'Married-spouse-absent', 'Separated', 'Married-AF-spouse',
       'Widowed'], dtype=object)

In [ ]:
married = data["sex"].loc[(data["marital-status"].str.contains("Married",case=False)) & (data["salary"]==">50K")].value_counts()["Male"]
married

6290

In [ ]:
notMarried = data["sex"].loc[(~data["marital-status"].str.contains("Married",case=False)) & (data["salary"]==">50K")].value_counts()["Male"]
notMarried

372

In [ ]:
all = len(data[(data["salary"]==">50K")  & (data["sex"]=="Male")].axes[0])
all

6662

In [ ]:
from re import A
if(married/all>notMarried/all):
  print("There are more married")
elif married/all>notMarried/all:
  print("There are more not married")
else: print("The are equal")

There are more married

9. What is the maximum number of hours a person works per week (attribute
hours-per-week)? How many people work that number of hours and what percentage of them earn a lot?

In [ ]:
print(f'number with max: {len(data.loc[data["hours-per-week"] == data["hours-per-week"].max()])}')

number with max: 85

In [ ]:
len(data.loc[(data["hours-per-week"] == data["hours-per-week"].max()) & (data["salary"] == ">50K")])

25

In [ ]:
len(data[data["salary"] == ">50K"])

7841

In [ ]:
print(f'percentage:{(len(data.loc[(data["hours-per-week"] == data["hours-per-week"].max()) & (data["salary"] == ">50K")])/len(data.loc[(data["hours-per-week"] == data["hours-per-week"].max())]))*100}%')

percentage:29.411764705882355%

10. Calculate the average work time (hours-per-week) for low and high earners (salary) for each country (native-country).

In [ ]:
print(f'average work time of employees with small amount of salary: {data[data["salary"] == "<=50K"].groupby("native-country").describe()["hours-per-week"]["mean"]}')

average work time of employees with small amount of salary: native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: mean, dtype: float64

In [ ]:
print(f'average work time of employees with big amount of salary: {data[data["salary"] == ">50K"].groupby("native-country").describe()["hours-per-week"]["mean"]}')

average work time of employees with big amount of salary: native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: mean, dtype: float64